/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/yuei.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a {
    color: #000; /* Cambia il colore dei link per migliorare il contrasto */
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    color: #333; /* Cambia il colore del grigio per migliorare la leggibilità */
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Header Styles */
header {
    /*background-color: #f8f8f8;*/
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    font-weight: bold;
    font-size: 18px;
}

h1 {
    color: #000000a3;
    font-size: 36px;
    margin-top: 30px;
}

/* Main Content Styles */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #0000008c;
    font-size: 24px;
    margin-bottom: 20px;
}

p, ul li, address, ol li {
    color: #333; /* Cambia il colore del grigio per migliorare la leggibilità */
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    background-color: #00000087;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: #000; /* Cambia il colore di sfondo durante l'hover */
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

footer a {
    color: #fff;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Cambia il colore del grigio per migliorare la leggibilità */
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333; /* Cambia il colore del grigio per migliorare la leggibilità */
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #18990f87;
}

form textarea {
    resize: none;
    height: 150px;
    color: #333; /* Cambia il colore del grigio per migliorare la leggibilità */
}

form input:required,
form textarea:required {
    border-color: #ff4136;
}

form input:valid,
form textarea:valid {
    border-color: #18990f87;
}

form input:invalid:focus,
form textarea:invalid:focus {
    border-color: #ff4136;
    box-shadow: 0 0 5px #ff4136;
}
